@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-6 py-3 rounded-full hover:bg-opacity-90 transition-all;
  }

  .btn-secondary {
    @apply bg-secondary text-white px-6 py-3 rounded-full hover:bg-opacity-90 transition-all;
  }

  .btn-outline {
    @apply border-2 border-primary text-primary px-6 py-2 rounded-full hover:bg-primary hover:text-white transition-all;
  }

  .background-container {
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
